body {
    background-color: black;
    color: #ff14af;
    text-align: center;
    font-size: 15px;
}

h1 {
    font-size: 3em;
    margin-top: 1em;
}

table {
    margin: 0 auto;
    text-align: left;
}

th {
    font-weight: bold;
    font-size: 1.75em;
    color: #39ff14;
    padding: 0 15px 0 0;
}

td {
    color: #da14ff;
    font-family: cursive;
    padding: 0 15px 0 0;
}

label {
    color: #39ff14;
}

input {
    border: 2px solid #9703b1;
    padding: 5px;
    color: white;
    border-radius: 25px;
    background-color: #da14ff;
    margin-bottom: 5px;
}

button {
    border: 2px solid #9703b1;
    padding: 5px;
    border-radius: 25px;
    background-color: #da14ff;
    color: white;
    cursor: pointer;
    transition: all .25s;
}

button:hover {
    background-color: #9703b1;
    border-color: #da14ff;
}

button:active {
    transform: scale(95%);
}

table tbody tr th {
    font-size: 1.25em;
    color: #007CBE;
}

nav {
    text-align: left;
    background-color: #0A1045;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 7px;
    height: 25px;
}

a {
    text-decoration: none;
    color: #ffda14;
    font-size: 1.5em;
    transition: all .25s;
}

h1 a {
    font-size: 1em;
    margin-left: 5px;
}

nav a {
    margin-left: 25px;
}

.nav-item {
    display: inline-block;
    transition: all .25s;
}

.nav-item:hover {
    transform: scale(1.1);
}

.red {
    color: red;
}

.green {
    color: #39ff14;
}